body {
  height:100%;
  background: url(../img/Books-background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover; /* Масштабирует изображение с сохранением пропорций так, чтобы его ширина или высота равнялась ширине или высоте блока.*/
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/*
h1 {
  font-family: Arial,sans-serif
  font-size:80px;
  color:#DDCCEE;
}

.lead {
	color:#DDCCEE;
}


/* Custom container */
/*.container-full {
  margin: 0 auto;
  width: 100%;
  min-height:100%;
  background-color:#110022;
   color:#eee;
  overflow:hidden;
}*/
/*
.container-full a {
  color:#efefef;
  text-decoration:none;
}

.v-center {
  margin-top:7%;
}
*/
.panel-default {
opacity: 0.9;
margin-top:30px;
}

.form-group.last { 
    margin-bottom:0px; 
}


